@page "/"

<PageTitle>>Products | Enable automatic updates in a web application using Azure Functions and SignalR</PageTitle>

<h1>Azure SignalR Demo</h1>

Products | Enable automatic updates in a web application using Azure Functions and SignalR.
